.container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  padding: 4rem;
  gap: 2.5rem;
}
.projectHandleBox {
  display: flex;
  justify-content: space-between;
}
.projectHandleBox h1 {
  margin-right: 1rem;
}
.projectHandle {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
  align-items: center;
}
.projectHandleBox select {
  display: flex;
  width: max-content;
  height: max-content;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  outline: none;
  cursor: pointer;
}
.projectHandleBox button {
  width: max-content;
  height: max-content;
  border: 1px solid var(--border); 
  border-radius: 10px;
  padding: 0rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  cursor: pointer;
}
.projectHandleBox button:hover {
  background: var(--lightbg);
}
.membersContainer{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.members {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 2rem;

}
.member {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  cursor: pointer;
  gap: 1rem;
}
.ownerStar {
  position: absolute;
  top : 15px;
  right: 15px;
}
.member:hover {
  opacity: 0.7;
}
.member b {
  font-size: 1.2rem;
}
.member a {
  text-decoration: underline;
  color: var(--text);
  font-weight: bold;
  cursor: pointer;
}
.memberInfo {
  position: absolute;
  display: none;
  background: inherit;
}
.memberInfo p {
  background: none;
  color: var(--text);
}
.member:hover > .memberInfo {
  display: grid;
  grid-template-columns: repeat(1fr ,1fr);
  gap: 1rem;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: white !important;
  padding: 1rem 2rem;
}
.member:hover > .memberInfo p, 
.member:hover > .memberInfo a {
  background: none;
  color: white!important;
  opacity: 1;
  background: none;
}