.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  padding: 4rem;
  gap: 2rem;
}
.projectHandleBox {
  display: flex;
  justify-content: space-between;
}
.projectHandle {
  display: flex;
  gap: 0.5rem;
}
.projectHandleBox select {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  outline: none;
  cursor: pointer;
}
.projectHandleBox button {
  width: 10rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  cursor: pointer;
}
.projectHandleBox button:hover {
  background: var(--lightbg);
}
.membersContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 2rem;

}
.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  cursor: pointer;
}
.member:hover {
  background: var(--lightbg);
}
.member b {
  font-size: 1.2rem;
}
.member a {
  text-decoration: underline;
  color: var(--text);
  font-weight: bold;
  cursor: pointer;
}