.container {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  padding: 4rem;
  gap: 2rem;
}
.content {
  flex: 1.5;
  flex-direction: column;
  background: var(--lightbg);
  padding: 2rem;
  border: 1px solid var(--border);
  border-radius: 10px;
}
.content h1 {
  margin-bottom: 0.7rem;
  background: var(--lightbg);
}
.content a {
  width: 100%;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  font-size: 1.5rem;
  cursor: pointer;
  background: inherit;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--primary);
  margin-bottom: 1rem;
}
.content a:hover {
  opacity: 0.7;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.form {
  flex: 1;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 2rem;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.7rem;
  background: inherit;
}
.title button {
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  background-color: var(--primary);
  font-size: 14px;
  cursor: pointer;
}
.title button:hover {
  opacity: 0.7;
}
.closed {
  overflow: hidden;
   position: relative;
   cursor: pointer;
}
.closed .form__input,
.closed .form__title,
.closed .form__submit{
  pointer-events: none;
  opacity: 0.4;
  filter: blur(1px);
}

.form__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--border);
  background: var(--lightbg);
}
.form__title button {
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  background-color: var(--primary);
  font-size: 14px;
}
.form__title__btn {
  display: flex;
  gap: 1rem;
  background: var(--lightbg);
  cursor: pointer;
}
.form h2 {
  width: max-content;
  padding-bottom: 0.7rem;
  background: var(--lightbg);
}
.form label {
  background: var(--lightbg);
  opacity: 0.8;
}
.name {
  display: flex;
  flex-direction: column;
  background: var(--lightbg);
}
.form__input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 0.7rem;
  padding-bottom: 0.7rem;
  background: var(--lightbg);
  border-bottom: 1px solid var(--border);
}
.form__input select {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  outline: none;
  cursor: pointer;
}
.form__input .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--lightbg);
}
.date__input {
  display: flex;
  gap: 1rem;
  background: var(--lightbg);
  align-items: center;
}
.form__input .date input {
  cursor: pointer;
}
.form__input .date svg {
  background: var(--lightbg);
}
.form__input input {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  outline: none;
}
.info {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  background: var(--lightbg);
  margin-bottom: 0.7rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--border);
}
.info p {
  background: var(--lightbg);
}
.info .author {
  font-weight: bold;
}

.stack {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  background: var(--lightbg);
  margin-bottom: 0.7rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--border);
}
.stack__list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  background: var(--lightbg);
}
.stack__list p {
  background: var(--primary);
  color: var(--bg);
  border-radius: 10px;
  font-size: 13px;
  padding: 0.3rem;
}
.project__info {
  display: flex;
  gap: 1rem;
  background: var(--lightbg);
  margin-bottom: 0.7rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--border);
  align-items: center;
}
.project__info svg {
  background: var(--lightbg);
}
.project__info p {
  background: var(--lightbg);
}
.project__info p:nth-child(1) {
  font-weight: bold; 
}
.project__info p:nth-child(2) {
  opacity: 0.8;
  font-size: 14px;
}
.project__info__content {
  gap: 1rem;
  background: var(--lightbg);
  align-items: center;
  margin-left: 1rem;
}
.content__desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--lightbg);
  margin-bottom: 0.7rem;
  padding-bottom: 0.7rem;
  white-space: pre-line;
}
.content__desc p {
  background: var(--lightbg);
}
.content__desc p:nth-child(1) {
  font-weight: bold;
}
.form__submit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background: var(--sub-primary);
  border: 1px solid var(--border);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
.link {
  position: relative;
}
.link svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  width: max-content;
  border: none;
  font-size: 14px;
  color: var(--text)
}
.link svg:hover {
  opacity: 0.6;
}
.link__list {
  background: var(--lightbg);
  display: flex;
  flex-direction: column;
}
.link__item_wrap {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--lightbg);
}
.link__item_wrap p {
  text-decoration: none;
  cursor: text;
}
.link__item_wrap p:hover {
  opacity: 1;
}
.link__item_wrap button {
  background: var(--lightbg);
  color: var(--text);
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.link__item {
  background: var(--lightbg);
  color: var(--text);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  padding-bottom: 0.5rem;
}
.link__item:hover {
  opacity: 0.6;
}
.position {
  display: flex;
  flex-direction: column;
  background: var(--lightbg);
  margin-bottom: 0.7rem;
  padding-bottom: 0.7rem;
}
.text,
.text label {
  background: var(--lightbg);
}
.resc_title_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--lightbg);
  border-bottom: 1px solid var(--border);

}
.resc_title_wrap button {
  background: var(--lightbg);
  color: var(--text);
  font-weight: bold;
  border: 1px solid var(--border);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.resc_title_wrap button:hover {
  opacity: 0.6;
  background: var(--primary);
}
.resc_title {
  padding-bottom: 0.7rem;
  background: var(--lightbg);
  font-size: 1.5rem;
  font-weight: bold;
}
.resc_ul {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--lightbg);
}
.resc_list_wrap { 
  display: flex;
  gap: 1rem;
  background: var(--lightbg);
}
.resc_list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--lightbg);
}
.resc_list p {
  background: var(--lightbg);
}
.resc_name {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.2rem;
  font-weight: bold;
  background: var(--lightbg);
}
.resc_name:hover {
  opacity: 0.6;
  cursor: pointer;
}
.resc_name span {
  font-weight: normal;
  font-size: 0.8rem;
  background: inherit;
}
.resc_name p {
    background: inherit;
}
.resc_detail {
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--lightbg);
}
.reject p,
.reject span {
  position: relative;
  display: inline-block;
}
.reject p::after,
.reject span::after {
  content: "";
  position: absolute;
  left: -4px;          /* 텍스트보다 왼쪽으로 조금 더 나가게 */
  right: -4px;         /* 오른쪽으로도 더 나가게 */
  top: 50%;
  transform: translateY(-50%);
  border-top: 2px solid #000;   /* 선 두께 + 색 */
  pointer-events: none;
}
.accept p{
  background: rgb(212, 223, 70);
}
.resc_content {
  width: 100%;
  display: flex;
  background: var(--lightbg);
}
.resc_content p {
  background: var(--lightbg);
}
.resc_link {
  width: 100%;
  display: flex;
  background: var(--lightbg);
}
.resc_link a {
  background: var(--lightbg);
  text-decoration: underline;
  cursor: pointer;
  padding-bottom: 0.5rem;
  
}
.resc_link a:hover {
  opacity: 0.6;
}
.resc {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: inherit;
}
.resc_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background: var(--lightbg);
}
.resc_btn select {
  flex: 1;
}
.resc_btn button {
  border: none;
  cursor: pointer;
  background: var(--lightbg);
  color: var(--text);
  font-weight: bold;
  cursor: pointer;
}
.resc_btn button:hover {
  opacity: 0.6;
}
.redpoint {
  color: red;
  background: var(--lightbg);
}
.disable * {
  pointer-events: none;
  opacity: 0.8;
  background: var(--lightbg);
}


@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .content {
    flex: 1;
  }
  .form {
    flex: 1;
  }
}