.container {
  max-width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem;
  gap: 2rem;
}
.container h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--border);
}

.container input {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
}
.box {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background: var(--bg);
  gap: 2rem;
  padding-bottom: 1rem;
}
.title_box {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.stack_box {
  position: sticky;
  top: 2rem;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.category {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  font-weight: bold;
}
.desc_box {
  flex: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.desc_box textarea {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  height: 35rem;
  resize: none;
}
.title_box_value {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.date_box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.date_box div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.date_box input {
  width: 100%;
}
.active {
  background: var(--primary) !important;
}
.stack_list {
  display: flex;
  flex-wrap: wrap;
  text-wrap: nowrap;
  gap: 0.5rem;
}
.stack_list li {
  width: min-content;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  cursor: pointer;
}
.preview {
  position: sticky;
  top: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.preview button {
  padding-top: 5rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--sub-primary);
  cursor: pointer;
}
.preview button:hover {
  opacity: 0.9;
}

