.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  position: relative;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.form {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-right: 1px solid var(--border);
  padding: 0 1rem;
  background: var(--lightbg);
  box-shadow:
    1px 0 0 rgba(0,0,0,0.06),
    12px 0 24px -18px rgba(0,0,0,0.35); 
}
.form h2 {
  width: 25rem;
}
.form form {
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.box ,
.box input,
.box label,
h2,
form {
  width: 100%;
  background: var(--lightbg);
}
.box label {
  font-size: 0.9rem;
}
.box input {
  padding: 0.5rem 0.7rem;
  border: 1px solid var(--border);
  background: var(--lightbg);
  opacity: 0.9;
  border-radius: 5px;
}
.box input:focus {
  outline: 1px solid var(--primary);
}


.form button {
  padding: 0.5rem;
  background: var(--primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
}
.text {
  flex: 1.5;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 0 10rem;
  box-shadow:
    1px 0 0 rgba(0,0,0,0.06),
    12px 0 24px -18px rgba(0,0,0,0.35);
}
.text h1 {
  font-size: 3rem;
}
.text p {
  font-size: 1.5rem;
  color: var(--primary);
}
.text h2 {
  font-size: 1.5rem;
  color: var(--sub-primary);
  background: inherit;
}
.signup {
  background: var(--lightbg);
  cursor: pointer;
  opacity: 1;
  display: flex;
  justify-content: space-between;
}
.signup a {
  color: var(--primary);
  text-decoration: underline;
  text-underline-offset: 4px;
}
.signup a:hover {
  opacity: 0.6;
}


@media (max-width: 1250px) {
  .form {
    padding: 0 1rem;
    border: none;
  }
  .text {
    min-width: 500px;
    width: 100%;
    padding: 0 1rem;
  }
  .text h1 {
    font-size: 2.5rem;
  }
  .text p {
    font-size: 1.2rem;
  }
}
@media (max-width: 1024px) {
  .container {
    flex-direction: column-reverse;
    gap: 5rem;
  }
  .text {
    padding: 0 1rem;
    flex: 0;
    box-shadow: none;
  }
  .form {
    box-shadow: none;
    background: var(--bg);
    padding: 0 1rem;
    flex: 0;
  }
  .form h2,
  .form label,
  .form div,
  .form input,
  .form * {
    background: var(--bg);
  }
}
@media (max-width: 768px) {
  .container {
    overflow: hidden;
    width: 100%;
    height: 100dvh;
    gap: 1rem;
    padding: 5rem 0;
  }
  .text {
    width: 100%;
    font-size: 10px;
    gap: 12px;
  }
  .text h2,
  .text h1,
  .text p {
    width: max-content;
    font-size: 1rem;
  }
  .text h1 {
    margin-top: auto;
  }
  .form form {
    width: 100%;
    padding: 0 1rem;
    font-size: 10px;
  }
  .form h2 {
    width:100%;
    text-align: left;
    padding-left: 1rem;
  }

}