.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-right: 1px solid var(--border);
  padding: 0 1rem;
  background: var(--lightbg);
  box-shadow:
    1px 0 0 rgba(0,0,0,0.06),
    12px 0 24px -18px rgba(0,0,0,0.35); 
}
.form h2 {
  width: 25rem;
}
.form form {
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.box ,
.box input,
.box label,
h2,
form {
  width: 100%;
  background: var(--lightbg);
}
.box label {
  font-size: 0.9rem;
}
.box input {
  padding: 0.5rem 0.7rem;
  border: 1px solid var(--border);
  background: var(--lightbg);
  opacity: 0.9;
  border-radius: 5px;
}
.box input:focus {
  outline: 1px solid var(--primary);
}
.box li {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--lightbg);
  font-size: 14px;
}
.success {
  background: #5aa889;
  color: aqua;
  border-radius: 100%;
}

.form button {
  padding: 0.5rem;
  background: var(--primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
}
.text {
  flex: 1.5;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 0 10rem;
  box-shadow:
    1px 0 0 rgba(0,0,0,0.06),
    12px 0 24px -18px rgba(0,0,0,0.35);
}
.text h1 {
  font-size: 3rem;
}
.text p {
  font-size: 1.5rem;
  color: var(--primary);
}