.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.hero {
  text-align: center;
  margin-bottom: 2rem;
}
.hero h1 {
  margin-bottom: 1rem;
}
.description {
  font-size: 1.5rem;
  color: var(--primary);
}
.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.menu a{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  background-color: var(--bg);
  font-size: 14px;
  cursor: pointer;

}
.menu a:hover {
  opacity: 0.9;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .hero {
    padding: 2rem;
  } 
  .hero h1{
    font-size: 1.5rem;
  }
  .description {
    font-size: 1rem;
  }
}