.card {
  position: relative;
}
.badge {
  position: absolute;
  bottom: 3px;
  right: 3px;
  background: none;
  padding: 0.4rem 0.7rem;
  border-radius: 10px;
  color: var(--primary);
  font-weight: bold;
  font-size: 0.7rem;
  border: 1px solid var(--border);
  z-index: 1;
  cursor: pointer;
}
.badge:hover {
  opacity: 0.9;
}