.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  /* gap: 2rem; */
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 1rem 1.5rem;
}
.container h3 {
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--border);
}
.messages {
  height: 30rem;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-bottom: 0.5rem;
}
.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-top: 1px solid var(--border);
  padding-top: 1rem;
}
.input input {
  flex: 1;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
}
.input button {
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  background-color: var(--primary);
  font-size: 14px;
}