.loading {
  flex: 1;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ccc;
  width: 15rem;
  height: 10rem;
  border-radius: 10px;
  padding: 1rem 0;
}
.loading span {
  padding: 0 1rem;
  background: inherit;
  font-size: 12px;
  color: #555;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: -1rem;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #fff;              
  border-top: 4px solid #555; 
  border-radius: 50%; 
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}