.card {
  width: 100%;
  height: 320px;
  border: 1px solid var(--border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--lightbg);
  padding: 1rem;
  overflow: hidden;
}
.card:hover,
.card__new:hover {
  cursor: pointer;
}

.card__new {
  width: 100%;
  height: 320px;
  border: 1px solid var(--border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--lightbg);
  box-shadow:
    1px 0 0 rgba(0,0,0,0.06),
    12px 0 24px -18px rgba(0,0,0,0.35);
  padding: 1rem;
}
.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--lightbg);
}
.info{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: var(--lightbg);
  padding: 1rem 1rem 0.2rem 0.5rem;
}
.title {
  font-size: 1.2rem;
  font-weight: bold;
  background: var(--lightbg);
  padding: 5px;
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: center;
}

.author {
  font-size: 0.8rem;
  background: var(--lightbg);
  text-align: right;
}
.date {
  font-size: 0.8rem;
  background: var(--lightbg);
  text-align: center;
}
.desc {
  font-size: 0.9rem;
  background: var(--lightbg);
  padding-top: 1rem;
  padding: 1rem 0.5rem 0.2rem 0.5rem;
}
.stack_list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: var(--lightbg);
  padding: 0.5rem 1rem 0 1rem;
  width: 100%;
  border-top: 1px solid var(--border);
}
.stack_list svg {
  background: inherit;
}
.stack_list p {
  font-size: 14px;
  background: var(--lightbg);
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.stack_container {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  background: var(--lightbg);
}
.stack {
  background: var(--primary);
  color: var(--bg);
  border-radius: 10px;
  font-size: 13px;
  padding: 0.3rem;
}
.card__preview {
  height: max-content;
}
.card__preview .desc {
  padding: 1rem 0.5rem;
}