.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.container section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  background: var(--bg);
}
.certification {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 1rem 0 1rem;
  border-radius: 10px;
  background: var(--bg);
}
.container section h2 
{ 
  width: max-content;
  flex: 1;
  background: inherit;
  padding-left: 1rem;
}
.container section a {
  width: max-content;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}
.container section a:hover {
  background: var(--primary);
  color: var(--bg);
}
.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu a{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  background-color: var(--bg);
  font-size: 14px;
  cursor: pointer;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}
.menu a:hover {
  background: var(--primary);
}
.cert_sites {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  padding: 2rem;
}
.cert_site {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  background: var(--bg);
}
.cert_site a {
  width: max-content;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}
.cert_site p,
.cert_site b {
  padding-left: 1rem;
}
.cert_site a:hover {
  background: var(--primary);
  color: var(--bg);
}
.cert_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cert_title span {
  border: 1px solid var(--border);
  padding: 1rem;
  background: var(--primary);
}