* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  background: var(--bg);
  color: var(--text);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

:root {
  --bg: #ffffff;
  --lightbg: #f9f9f9;
  --text: #111111;
  --border: #e5e7eb;
  --primary: #70bd9d;
  --sub-primary:  #cf7a6b;
}

.dark {
  --bg: #0b1220;
  --lightbg:#101829d0;
  --text: #e5e7eb;
  --border: #23304a;
  --primary: #5aa889;;
  --sub-primary:  #E6A095;
}