.container {
  width: 100%;
  max-width: 700px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 4rem clamp(1rem, 5vw, 3rem);  
  margin: 0 auto;
  gap: 2rem;
}
.my {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
  gap: 2rem;
}
.app {
  background: var(--lightbg);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
}
.app div {
  background: var(--lightbg);

  display: flex;
  gap: 1rem;
}
.app h3 {
  background: var(--lightbg);
  font-size: 1.2rem;
  overflow: hidden;
}
.app p {
  background: var(--lightbg);
}
.app span {
  background: var(--lightbg);
  font-size: 13px;
  display: flex;
  align-items: center;
  opacity: 0.8;
}
.info {
  background: var(--lightbg);
  padding: 2rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  gap: 2rem;
}
.info p {
  background: var(--lightbg);
}
.info h2 {
  margin-bottom: 0.7rem;
  background: var(--lightbg);
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border);
}
.user__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  background: var(--lightbg);
  padding: 1rem;
}
.input__box {
  width: 100%;
    display: grid;
  grid-template-columns: 120px 1fr;
  gap: 1rem;
  background: var(--lightbg);
  
}
.input__box input,
.input__box select {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  outline: none;
  cursor: pointer;
}
.label {
  min-width: 5rem;
  background: var(--lightbg);
  display: flex;
  border-right: 1px solid var(--border);
  padding-right: 1rem;
  align-items: center;
}
.profile {
  border: 1px solid var(--border);
  border-radius: 10px;
  background: var(--lightbg);
  padding: 2rem;
  /* padding: 0 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.profile h2 {
  margin-bottom: 0.7rem;
  background: var(--lightbg);
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border);
}
.profile__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  background: var(--lightbg);
  padding: 1rem;
}
.help {
  border: 1px solid var(--border);
  background: var(--lightbg);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.help h2 {
  margin-bottom: 0.7rem;
  background: var(--lightbg);
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border);
}
.input__box2 {
  padding: 1rem;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 1rem;
  background: var(--lightbg);
}
.input__box2 input {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  outline: none;
  cursor: pointer;
}
.input__box2 label {
  min-width: 10rem
}
.profile__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--lightbg);
  padding: 1rem;
}
.profile button {
  width: 10rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  outline: none;
  cursor: pointer;
}
.desc {
  opacity: 0.6;
  font-size: 0.8rem;
}
.full {
  grid-column: 1 / -1;
}
.full label {
  border: none;
}
.button {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background: var(--lightbg);
}
.button button {
  background: var(--primary);
}
