.container {
  width: 100%;
  height: 100%;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
  display: flex;
  overflow: hidden;
  padding: 4rem 4rem 4rem 2rem;
  margin: 0 auto;
  gap: 2rem;
}
.container aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 15rem;
}
.menu {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  gap: 2rem;
} 
.menu button {
  border: none;
  border-bottom: 1px solid var(--border);
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  background: inherit;
}
.content {
  flex: 1;
  /* display: flex;
  flex-direction: column; */
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.active {
  border-bottom: 1px solid var(--primary) !important;
}
.my {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
  gap: 2rem;
}
.app {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  border-bottom: 1px solid var(--border);
  gap: 0.5rem;
}
.app:hover {
  opacity: 0.6;
}
.app div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 0.3rem;
}
.app h3 {
  font-size: 1.2rem;
  overflow: hidden;
}
.app p {
  color: var(--primary);
}
.app span {
  font-size: 13px;
  display: flex;
  align-items: center;
  opacity: 0.8;
  
}
.info {
  background: inherit;
  padding: 2rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  gap: 2rem;
}

.info h2 {
  margin-bottom: 0.7rem;
  background: inherit;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border);
}
.user__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  padding: 1rem;
}
.input__box {
  width: 100%;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 1rem;
}
.input__box input,
.input__box select {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  outline: none;
  /* cursor: pointer; */
}
.input__box select {
  cursor: pointer;

}
.label {
  min-width: 5rem;
  display: flex;
  border-right: 1px solid var(--border);
  padding-right: 1rem;
  align-items: center;
}
.profile {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: inherit;
}

.profile h2 {
  margin-bottom: 0.7rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border);
}
.profile__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  padding: 1rem;
}
.help_box {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  /* flex-direction: column; */
  gap: 2rem;
}
.help {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.help__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
}
.help span {
  opacity: 0.7;
  cursor: pointer;
}
.help h2 {
  flex: 1;
  background: inherit;
  padding-bottom: 1rem;
}
.input__box2 {
  padding: 1rem;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 1rem;
}
.input__box2 input {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  outline: none;
  /* cursor: pointer; */
}
.input__box2 label {
  min-width: 10rem
}
.profile__title {
  background: inherit;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.profile__title * {
  background: inherit;
}

.profile button {
  width: 10rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: var(--bg);
  outline: none;
  cursor: pointer;
}
.desc {
  opacity: 0.6;
  font-size: 0.8rem;
}
.full {
  grid-column: 1 / -1;
}
.full label {
  border: none;
}
.button {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
.button button {
  background: var(--primary);
}
.input_box{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.app_box {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
}