.footer {
  border-top: 1px solid var(--border);
  /* background-color: var(--primary); */
  width: 100%;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.copyright {
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.copyright span {
  color: var(--primary);
  font-size: 0.8rem;
  font-weight: bold;
}
.copyright a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_link a:hover,
.contact_link button:hover {
  color: var(--primary);
  opacity: 0.7;
}
.contact_link button {
  padding-left: 0.2rem;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--primary);
  font-size: 0.8rem;
  font-weight: bold;
}
.contact_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  gap: 1rem;
}