.header {
  position: relative;
  padding: 0.7rem 0rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  border-bottom: 1px solid var(--border);
  min-width: 375px;
}
.logo h2 {
  cursor: pointer;
  color: var(--primary);
  background: var(--bg);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.header nav a {
  font-weight: bold;
  font-size: 0.9rem;
  position: relative;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.login {
  background-color: #ffffff;
  border: 1px solid var(--border);
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  color: #121212;
  font-size: 14px;
  letter-spacing: -0.02em;
}
.login:hover {
  opacity: 0.9;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.signup {
  color: #121212;
  cursor: pointer;
  border: 1px solid var(--border);
  background-color: var(--primary);
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 14px;
  letter-spacing: -0.02em;
}
.signup:hover {
  opacity: 0.9;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.profile {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile p {
  font-weight: bold;
}
.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  border: 1px solid var(--border);
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}
.user:hover {
  opacity: 0.9;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.auth__menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.theme {
  position: fixed;
  top: 8px;
  right: 16px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  background-color: #ffffff;
  color: var(--primary);
  font-size: 14px;
  z-index: 100;
}
.theme:hover {
  opacity: 0.9;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.logout__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.logout__menu p{
  font-size: 10px;
}
.logout {
  border-radius: 0.5rem;
  color: var(--primary);
  font-size: 14px;
  padding-top: 2px;
}
.active::after {
  content: " ";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
  width: 110%;
  height: 2px;
  background: var(--sub-primary);
  border-radius: 2px;
}
.disable {
  opacity: 0.5;
  cursor: not-allowed;
}
.menu {
  display: flex;
  gap: 2rem;
}
.header aside button{
  display: flex;
  align-items: center;
  height: max-content;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  z-index: 100;
  width: max-content;
  border: none;
  font-size: 14px;
  cursor: pointer;
  background: inherit;
  padding-left: 1rem;
}
.header aside {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 15rem;
}
.mobile_menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: inherit;
}
.mobile__menu {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(200%);
  transition: transform 0.3s ease;
  background: var(--lightbg);
  padding: 4rem 2rem;
  display: flex;
  display: none;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  opacity: 0.95;
  z-index: 9999;
}
.mobile_menu a {
  width: 100%;
  border: 1px solid var(--border);
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  color: var(--primary);
  font-weight: bold;
}
.mobile__menu.show {
  transform: translateY(52.5%);
  transition: transform 0.3s ease;
}
.mobile__menu a.disable {
  color: var(--text-sub);
}
.mobile_login {
  display: flex;
  flex-direction: row;
  background: inherit;
}
.mobile_menu_me {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: inherit;

}
.header aside {
  display: none;
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    padding: 0px 10px;
  }
  .menu {
    display: none;
  }
  .profile {
    display: none;
  } 
  .login {
    display: none;
  }
  .header nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .header h2 {
    margin: 0;
  }
  .theme {
    position: static;
    padding: 0.2rem 0.7rem;
    margin : 0.2rem 0;
  }
  .header aside {
    display: flex;
  }
  .mobile__menu {
    display: flex;
  }
}