.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1;
}
.badgeStyle {
  background: none;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 9999;
  gap: 0;
}
.badgeStyle u {
  font-size: 10px;
  opacity: 0.6;
  text-decoration: none;
  margin-left: -5px;
}
.badgeStyle span {
  background: var(--bg);
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  color: var(--primary);
  font-weight: bold;
  font-size: 0.75rem;
  border: 1px solid var(--border);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.badgeStyle div {
  font-weight: bold;
  font-size: 0.9rem;
}
.badgeStyle b {
  color: rgba(226, 35, 35, 0.753);
  font-weight: bold;
  font-size: 0.75rem;
}
.badgeStyle button {
  background: none;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  color: var(--primary);
  font-weight: bold;
  font-size: 0.75rem;
  border: 1px solid var(--border);
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.badgeStyle button:hover {
  opacity: 0.5;
}
